<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form method="POST" enctype="multipart/form-data"
      action="/main">
    File to upload: <input type="file" name="txt_file"><br />
    <br />
    <input type="submit"  value="Upload"> Press here to upload the file!
</form>
    <span th:utext="${nodes}"></span>
    <span th:each="str : ${strings}">
        <span th:utext="${str}"></span>
    </span>

</body>
</html>