<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form method="POST" enctype="multipart/form-data"
      action="/main">
    Select a text file: <input type="file" name="txt_file">
    <br />
    <br />
    Press here to upload the file! <input type="submit"  value="Upload">
</form>
    <span th:utext="${nodes}"></span>
    <span th:each="str : ${strings}" th:utext="${str}">

    </span>

</body>
</html>