<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="treeCSS.css" rel="stylesheet">
</head>
<body>

    <p th:utext="${errorMessage}" style="color: red"></p>
    <form method="POST" enctype="multipart/form-data"
          action="/main">
        Select a text file: <input type="file" name="txt_file">
        <br/>
        <br/>
        Press here to upload the file! <input type="submit"  value="Upload">
    </form>
    <br/>
    <br/>
    <span th:utext="${nodes}">
    </span>
    <br/>
    <br/>
    <span th:each="str : ${strings}" th:utext="${str} + '<br/>'">
    </span>

    <script>
        (function() {
          var ul = document.querySelectorAll('.treeCSS > li:not(:only-child) ul, .treeCSS ul ul');
          for (var i = 0; i < ul.length; i++) {
            var div = document.createElement('div');
            div.className = 'drop';
            div.innerHTML = '+';
            ul[i].parentNode.insertBefore(div, ul[i].previousSibling);
            div.onclick = function() {
              this.innerHTML = (this.innerHTML == '+' ? '−' : '+');
              this.className = (this.className == 'drop' ? 'drop dropM' : 'drop');
            }
          }
        })();
    </script>

</body>
</html>